.background-div {
    width: 100%;
    min-height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    /*background-color: #888888;*/
    background-color: #3B3C3D;
    z-index: -1;
}

html,
body {
    font-family: "Helvetica Neue", Helvetica, Arial, serif;
    height: 100%;
}

body {
    margin: 0;
    overflow: hidden;
    color: #47C9AF;
    text-align: center;
    text-shadow: 0 1px 3px rgba(0, 0, 0, .5);
    box-shadow: inset 0 0 100px rgba(0, 0, 0, .5);
}

a {
    color: #ffffff;
}

.site-wrapper {
    display: table;
    width: 100%;
    height: 100vh;
    max-width: 300px;
    margin: 0 auto;
}

.message {
    display: table-cell;
    height: 100%;
    padding: 16px;
    text-align: left;
    vertical-align: middle;
}
